.DS_Store
*.pyc
*.p
*.mat
*.mp*
*.jpg
*.pdf
*.png
*.sublime-workspace
*.sublime-project
*.xml

.idea/workspace.xml

.idea/workspace.xml

.idea/workspace.xml

*.xml
.idea/workspace.xml

.vscode/*

!area_shank_info.p